:root{
    --primary-color: #4f8cff;
    --primary-dark: #2f5fb3;
    --analog-color: #f4c95d;
    --analog-soft: #ffe7a6;
    --secondary-color: #f8fbff;
    --gradient-color: #dbeafe;
    --text-color: #1f2937;
    --text-light: #4b5563;
    --font-family: 'Segoe UI', sans-serif;
    --gradient-main: linear-gradient(
        135deg,
        #4f8cff,
        #7db3ff
    );
    --gradient-card: linear-gradient(
        145deg,
        #ffffff,
        #f3f8ff
    );
    --gradient-hover: linear-gradient(
        145deg,
        #ffffff,
        #eaf3ff
    );
}
@media (max-width: 768px){
    header{
        flex-direction: column;
        text-align: center;
        gap: 18px;
    }
    .titulo{
        text-align: center;
        font-size: 34px;
        margin-left: 0;
    }
    .bubble{
        flex-direction: column;
    }
    form{
        width: 90%;
    }
    ul{
        justify-content: center;
    }
    .novedades, .cursos{
        padding: 0 20px;
    }
    .contenido-curso, .bubble{
        padding: 24px;
    }
    h3{
        font-size: 26px;
    }
}
@media (max-width: 390px){
    header{
        flex-direction: column;
        text-align: center;
        gap: 12px;
    }
    .titulo{
        text-align: center;
        font-size: 24px;
        margin-left: 0;
    }
    .bubble{
        flex-direction: column;
        gap: 12px;
    }
    form{
        width: 95%;
    }
    ul{
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }
    .novedades, .cursos{
        padding: 0 12px;
    }
    .contenido-curso, .bubble{
        padding: 16px;
    }
    h3{
        font-size: 18px;
    }
    h2{
        font-size: 20px;
    }
}
